<div class="row">
  <div class="col-md-12 mt-2 mb-2">
    TODO: basic event searching / ordering / filtering
  </div>
</div>
<div class="dcf-events-index row mb-2 mt-2">
  <!-- TEMP -->
  <% 8.times do %>
    <div class="col-md-6">
      <div class="event-card pt-2 row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="event-title pl-2">
          <a href="#">NAMI SD Shower Service</a>
        </div>
        <div class="col-md-9 p-2 d-flex flex-column position-static">
          <div class="mb-1 text-muted">
            Wed Dec 9th 2012
          </div>
          <p class="card-text">
            1600 16th Street San Diego, CA 92101
          </p>
        </div>
        <div class="col-md-2 pl-2">
          <i class="fa fa-bath fa-2x"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
